.social-btn {
  display: block;
  width: 125px;
  height: 25px;
  background-color: #222222;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}

.social-btn:hover {
  background-color: dodgerblue;
  color: white;
}
